target
**/.idea
**/observations.bson
**/observations.rmp
**/fd1sa
**/cache
node_modules
venv
cache
**/.DS_Store
web/public/Montreal.gpkg
web/public/NewYorkCity.gpkg
web/public/Vancouver.gpkg
city-gtfs/*.rkyv
Dockerfile